@import "../shared/helper";
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  header {
    height: px(99);
    background-image: url('../images/header.png');
    background-size: cover;
  }
  main {
    flex: 1;
    display: grid;
    grid-template-areas: 'box1 box2 box4 box5'
                         'box3 box3 box4 box5';
    // 网格布局列宽 --4列
    grid-template-columns: 366fr 361fr 811fr 747fr;
    // 网格布局行高 --3行
    grid-template-rows: 755fr 363fr;
    .section1 {
      grid-area: box1;
      background: pink;
    }
    .section2 {
      grid-area: box2;
      background: #f8ffba;
    }
    .section3 {
      grid-area: box3;
      background: #dde9ff;
    }
    .section4 {
      grid-area: box4;
      background: #8bd8ff;
    }
    .section5 {
      grid-area: box5;
      background: #5880ff;
    }
  }
}
